h2 {
  font-weight: 500;
}

.App {
  text-align: center;
  font-family: "Poiret one", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;

  overflow: hidden;
}

.header {
  min-height: 100vh;
  min-width: 100vw;
  background: #884d15;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  z-index: 0;
}

.header__button {
  position: absolute;
  top: 90%;

  font-size: 14px;
  z-index: 1;
  background: transparent;
  outline: none;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 16px;
  color: gray;

  opacity: 0;
  transition: opacity 1s ease-in;
}

.button__visible {
  opacity: 1;
}

.video.visible {
  opacity: 1;
}

.header__span {
  position: relative;
  font-size: 87px;
  color: azure;
  z-index: 1;

  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.header__span--v {
  position: absolute;
  top: 43%;
  right: 50%;
  animation: v 2s ease-in-out;
}

.header__span--b {
  position: absolute;
  top: 46%;
  left: 50%;
  animation: b 2s ease-in-out;
}

@keyframes v {
  0% {
    opacity: 0;
    right: 100%;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    right: 49%;
    opacity: 1;
  }
}

@keyframes b {
  0% {
    opacity: 0;
    left: 100%;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    left: 49%;
    opacity: 1;
  }
}

.main {
  min-height: 100%;
  min-width: 100vw;
  padding: 50px 0;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #5b460c;

  padding: 0 40px 50px;
}

.main__title {
  font-size: 48px;
  text-transform: uppercase;
  color: #884d15;
}

.main__subtitle {
  font-size: 21px;
}

.main__date {
  font-size: 48px;
  color: #884d15;
}

.main__day {
  font-size: 34px;
  color: #884d15;
}

.main__img {
  width: 100%;
  height: 100%;
  box-shadow: 1px;
  border-radius: 18px;
}

.main__title,
.main__subtitle,
.main__date,
.main__day,
.main__img,
.main__dress--title,
.main__dress--span,
.main__dress--color,
.main__location--title,
.main__location--subtitle,
.main__location--button,
.main__time--time,
.main__time--ul,
.main__time--span {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.main__title.visible,
.main__subtitle.visible,
.main__date.visible,
.main__day.visible,
.main__img.visible,
.main__dress--title.visible,
.main__dress--span.visible,
.main__dress--color.visible,
.main__location--title.visible,
.main__location--subtitle.visible,
.main__location--button.visible,
.main__time--time.visible,
.main__time--ul.visible,
.main__time--span.visible {
  opacity: 1;
  transform: translateY(0);
}

.main__dress {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 15px;

  gap: 15px;
}

.main__dress--title {
  text-transform: uppercase;
  font-size: 36px;
  color: #884d15;
}

.main__dress--span {
  font-size: 24px;
  padding: 20px 0;
}

.main__dress-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;

  padding: 20px 0;
}

.main__dress--color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main__location {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;

  background: #884d15;
  padding: 80px 0;
  color: #fff;
}

.main__location--title {
  text-transform: uppercase;
}

.main__location--subtitle {
  font-size: 24px;
}

.main__location--button {
  width: 50%;
  height: 40px;
  outline: none;
  border: 1px solid #fff;
  background: inherit;
  border-radius: 48px;
}

.main__location--link {
  text-decoration: none;
  color: #fff;
}

.main__time {
  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: 80px 0;
}

.main__time--time {
  color: #884d15;
  font-size: 34px;
}

.main__time--translate {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.main__time--ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main__time--li {
  color: #5b460c;
  font-size: 32px;
}

.main__time--li:last-child {
  font-size: 16px;
}

.main__time--span {
  font-size: 24px;
}

.main__time-block {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  color: #5b460c;
  text-transform: uppercase;

  padding: 40px 0;
}

.plan {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  background: #884d15;
  text-transform: uppercase;
  color: #fff;

  padding: 80px 0;
}

.plan__title {
  font-size: 36px;
}

.plan__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  justify-content: center;

  gap: 15px;
  font-size: 21px;
}

.footer {
  padding: 20px 0;
}

.footer__title {
  font-size: 24px;
  color: #5b460c;
}
